<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{ .Page.Title }} by {{ site.Params.author }}</title>

    <link rel="icon" type="image/png" href="{{ "favicon/favicon-32x32.png" | relURL }}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ "favicon/favicon-96x96.png" | relURL }}" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{{ "favicon/favicon.svg" | relURL }}" />
    <link rel="shortcut icon" href="{{ "favicon/favicon.ico" | relURL }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "favicon/apple-touch-icon.png" | relURL }}" />
    <link rel="manifest" href="{{ "favicon/site.webmanifest" | relURL }}" />

    <link href="{{ "css/bootstrap.min.css" | relURL }}" rel="stylesheet" />
    {{ $style := resources.Get "sass/main.scss" | css.Sass | resources.Minify }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" />

    <script src="{{ "js/jquery-3.5.1.min.js" | relURL }}"></script>
    <script src="{{ "js/bootstrap.bundle.min.js" | relURL }}"></script>

    {{ partial "header/box-colors.html" . }}
</head>
